developer_key:	Go to http://www.goodreads.com/api/keys and generate your own key & secret
developer_secret:	
access_token_key:	run the 'oauth_setup.rb' script in the project root.
access_token_secret:	
user_id:	Click your user photo on goodreads and copy the number after /user/show/ and without the -name.